{% extends "layout.html" %}
{% block body %}


<div class="resqconnect-container">
    <h1>ResQConnect: One-Stop Emergency Service</h1>
    <p>
      ResQConnect is a one-stop emergency assistance service designed to provide immediate help in critical situations such as medical emergencies, road accidents, natural disasters, cybercrime, and threats to women, children, or senior citizens.
    </p>
    <p>
      It connects users directly with appropriate emergency services through a single, easy-to-use platform. By integrating various helplines like police, ambulance, and fire services, ResQConnect ensures faster response and improved safety.
    </p>
    <p>
      Users can quickly raise an alert, share their location, and get guided support through real-time updates and verified responders. It also offers features like first aid tips, live tracking, and category-specific help like for women, senior citizens, and children.
    </p>
    <p>
      With ResQConnect, help is just a click away – anytime, anywhere.
    </p>
  </div>
  

  <style>
  p{
    font-size: small;
    text-align: justify;
    
  }
  .resqconnect-container{
    margin: 2rem;
  }
  </style>
{% endblock %}