<!DOCTYPE html>
<html>
<head>
    <title>India Weather</title>
    <style>
        body { font-family: Arial; font-size: 15px; padding: 10px;
        border-radius: 5%; }
        .weather-box {
            border: 2px solid #28a745;
            border-radius: 8px;
            padding: 15px;
            background: #f4fff4;
            color: #333;
            box-shadow: 15px black;

        }
        .title { color: #28a745; font-size: 18px; font-weight: bold; }
    </style>
</head>
<body>
    <div class="weather-box">
        <div class="title">Today's Weather (New Delhi)</div>
        <p><strong>Temperature:</strong> {{ weather.temperature }} °C</p>
        <p><strong>Wind Speed:</strong> {{ weather.windspeed }} km/h</p>
        <p><strong>Wind Direction:</strong> {{ weather.winddirection }}°</p>
        <p><strong>Reported at:</strong> {{ weather.time }}</p>
    </div>
</body>
</html>
